<?xml version="1.0"?>
<robot name="rover">
  
  <link name="base_link">  
    <visual>
      <geometry>
        <mesh filename="package://mecanum_robot/meshes/rover.dae"/>
      </geometry>
      <origin xyz="0.0 0.0 0" rpy="0.0 0.0 0"/>
    </visual>
  </link>
 <!--
  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child link="body_link"/>
    <origin xyz="0 0 0.0" rpy="0.0 0.0 0"/>  
    <axis xyz="0 0 0"/>
  </joint>
  -->
</robot>